<%- include('partials/login-header') -%>
    <div class="hero min-h-screen bg-base-200">
      <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="text-center lg:text-left">
          <h1 class="text-5xl font-bold">Join the community.</h1>
          <p class="py-6">Sign up to join the fun!</p>
        </div>
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
          <section class="col-6 mt-5">
            <% if (locals.messages.errors) { %>
                <% messages.errors.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %>
            <% } %>
            <% if (locals.messages.info) { %>
                <% messages.info.forEach( el => { %>
                    <div class="alert alert-info"><%= el.msg %></div>
                <% }) %>    
            <% } %>
            <form action="/signup" enctype="multipart/form-data" method="POST">
            <div class="card-body">
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Email</span>
                </label>
                <input type="email" placeholder="email" class="input input-bordered form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"/>
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Username</span>
                </label>
                <input type="text" placeholder="username" class="input input-bordered form-control" id="userName" name="userName">
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Password</span>
                </label>
                <input type="password" placeholder="password" id="password" name="password" class="input input-bordered" />
              </div>
              <div class="form-control">
                <label for="confirmPassword" class="label">
                  <span class="label-text">Confirm Password</span>
                </label>
                <input type="password" placeholder="re-type password" class="input input-bordered form-control" id="confirmPassword" name="confirmPassword">
              </div>
              <!-- <div class="form-control">
                <label for="imgUpload" class="form-label">
                  <span class="label-text">Image</span>
                </label>
                <input type="file" placeholder="image" class="form-control" id="imageUpload" name="file">
              </div> -->
              <div class="form-control mt-6">
                <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

<%- include('partials/footer') -%>